{% extends "base.html" %}
{% block content %}

<p id="about">This web application is made using python framework <a href="http://bottlepy.org/">bottlepy</a>, <a href="https://developer.valvesoftware.com/wiki/Steam_Web_API">Steam web api</a> and this <a href="https://github.com/ValvePython/steam">library</a>.</p>

<p id="about">You can contact me by send me a mail at <a href="mailto:vatsalbparekh@gmail.com">vatsalbparekh@gmail.com</a> or by adding me on <a href="https://steamcommunity.com/id/thekidwithabrain">steam</a>.</p>

<p id="about">Hope you found this helpful!</p>

{% endblock %}
